@media (max-width: 1280px){
    body{
        padding: 0 40px;
    }
}

@media (max-width: 768px){
    .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infos .description{
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 425px){
    .infos .logo{
        max-width: 300px;
    }
    .infos .description{
        width: 100%;
    }
    .aside-menu{
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
    }
    .aside-menu ul{
        flex-direction: row;
    }

    .content{
        min-height: 70vh;
        gap: 50px;
    }
    body{
        padding: 40px;
    }
}